.about {
    display: flex;
} 

.about__container {
    display: flex;
    width: 1015px;
    height: 600;
    margin: 0;
}

.about__wrapper {
    margin-left: auto;
    width: 350px;
    height: 502px;
    position: relative;
}

.about__title {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    /* identical to box height, or 105% */

    letter-spacing: -0.357143px;

    color: $gray-blue;
    margin-top: 50px;
}

.about__des {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 188%;
    /* or 188% */


    color: #33323D;

    mix-blend-mode: normal;
    opacity: 0.8;
}

.about__hr {
    width: 350px;
    height: 1px;
    background-color: $gray-blue;
    opacity: 0.15;

}

.portfolio-box {
    width: 202px;
    height: 48px;
    border: 1px solid $gray-blue;
    // padding: 17px 36px 17px 32px;
    margin-bottom: 46px;
}

.portfolio-box__text {
    margin: 17px 36px 17px 32px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #33323D;
}

@media only screen and (max-width: $tablet) {
    .about {
            display: flex;
        }
    
        .about__container {
            display: flex;
            width: 689px;
            height: 600;
            margin: 0;
        }

        .about__img {
            width: 281px;
            height: 600px;
        }
    
        .about__wrapper {
            margin-left: auto;
            width: 350px;
            height: 502px;
            position: relative;
        }

        .about__title {
            font-family: 'Ibarra Real Nova';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 42px;
            /* identical to box height, or 105% */
    
            letter-spacing: -0.357143px;
    
            color: $gray-blue;
            margin-top: 50px;
        }
    
        .about__des {
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 188%;
            /* or 188% */
    
    
            color: #33323D;
    
            mix-blend-mode: normal;
            opacity: 0.8;
        }
    
        .about__hr {
            width: 350px;
            height: 1px;
            background-color: $gray-blue;
            opacity: 0.15;
    
        }
    
        .portfolio-box {
            width: 202px;
            height: 48px;
            border: 1px solid $gray-blue;
            // padding: 17px 36px 17px 32px;
            margin-bottom: 46px;
        }
    
        .portfolio-box__text {
            margin: 17px 36px 17px 32px;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 1px;
            text-transform: uppercase;
    
            color: #33323D;
        }
}

@media only screen and (max-width: $mobile) {
    .about {
        display: flex;
    }

    .about__container {
        display: flex;
        width: 689px;
        height: 600;
        margin: 0;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .about__img {
        width: 311px;
        height: 346px;
        margin-bottom: 45px;
    }

    .about__wrapper {
        margin-left: auto;
        width: 350px;
        height: 502px;
        position: relative;
    }

    .about__title {
        font-family: 'Ibarra Real Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 42px;
        /* identical to box height, or 105% */

        letter-spacing: -0.357143px;

        color: $gray-blue;
        margin-top: 50px;
    }

    .about__des {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 188%;
        /* or 188% */


        color: #33323D;

        mix-blend-mode: normal;
        opacity: 0.8;
    }

    .about__hr {
        width: 350px;
        height: 1px;
        background-color: $gray-blue;
        opacity: 0.15;

    }

    .portfolio-box {
        width: 202px;
        height: 48px;
        border: 1px solid $gray-blue;
        // padding: 17px 36px 17px 32px;
        margin-bottom: 46px;
    }

    .portfolio-box__text {
        margin: 17px 36px 17px 32px;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;

        color: #33323D;
    }
}